@use "color";
// základní stylizace, pozadí, písma, nadpisy, kontejneru
html {
    background-image: url(/images/abstract-white-color-canvas-wallpaper-textures-surface.jpg);
  }
  
  p {
    font-size: color.$text-size;
    font-family: color.$text;
    margin: 0;
  }
  .containare {
    width: 320px;
    position: relative;
    margin: auto;
    background-color: color.$background1;
  }
  
  h1 {
    margin: 0;
  }
  h2 {
    margin: 0;
    margin-bottom: 20px;
    color: color.$primary;
  }
  h3 {
    margin: 0.5em 0;
    font-family: color.$text;
    size: color.$text-size;
    color: color.$primary;
  }