// vzorek barev
$primary: rgb(47, 27, 53);
$secondary: rgb(119, 114, 184);
$tertiary: rgb(93, 67, 98);
$background1: white;
$background2: snow;
$pink: rgb(255, 206, 255);
$footer: rgb(74, 55, 45);
// nastavení textu
$text: "Audiowide", cursive;
$text-size: 10px;
$text-size2: 14px;
$shadow: inset 0 2px 4px $secondary;
// stíny
$shadow2: 0 4px 4px $primary;