@use "color";

//  stylizace stránky kontakt---
// ------------------------------

.contact__grid {
  width: 80%;
  margin: auto;
  padding-bottom: 1em;
}
.contact__border {
  margin-bottom: 1em;
}
.contact__logo {
  background-color: color.$footer;
  border-radius: 5px;
  position: absolute;
  right: 27px;
}
.contact__info {
  padding: 0.5em 0.3em;
}
.contact__icon {
  height: 1em;
}
.contact__flex {
  display: grid;
  grid-template-columns: 1em 1fr;
}
.contact__adress {
  padding-top: 15px;
}

.contact__tel {
  padding-top: 2px;
}
.contact__email {
  padding-top: 4px;
}
.contact__map {
  margin: auto;
  margin-top: 1em;
  box-shadow: color.$shadow2;
}
.contact__iframe {
  width: 100%;
}
.contact__formular {
  margin-top: 2em;
  padding: 0.5em 1em;
  font-family: color.$text;
  font-size: color.$text-size;
  background-color: color.$background2;
  box-shadow: color.$shadow2;
}
.contact__tab {
  width: 60%;
  justify-content: right;
}
.contact__form-field input,
.contact__form-field textarea {
  width: 98%;
}
.contact__button,
.article__button,
.confirm__button,
.main__back {
  background-color: color.$primary;
  border: none;
  box-shadow: color.$shadow;
  padding: 5px 5px;
  border-radius: 5px;
  font-family: color.$text;
}
.contact__button {
  margin-left: 170px;
  color: color.$background2;
}
.article__button2,
.confirm__button2,
.main__back a {
  color: color.$background2;
  text-decoration: none;
}
