<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Salón Pohlazení</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap"
      rel="stylesheet"
    />
  </head>
  <div class="body">
    <body>
      <div class="containare">
        <header class="header">
          <img
            class="header__foto"
            src="/images/woman-relaxing-beauty-salon.jpg"
            alt="relaxující žena"
          />
          <div class="header__logo">
            <div class="header__logo--original">
              <h1>Salón</h1>
              <h1>Pohlazení</h1>
            </div>
          </div>
        </header>
        <nav class="menu">
          <!-- hamburger -->
          <button class="menu__hamburger" id="hamburger">
            <div class="menu__burger"></div>
            <i class="fas fa-bars"></i>
          </button>
          <!-- ----------- -->
          <!-- navigace link -->
          <div class="menu__links" id="nav-ul">
            <a href="/uvod">Úvod</a>
            <a href="#Novinky">Novinky</a>
            <a href="/cenik">Ceník</a>
            <a href="/Kontakt">Kontakt</a>
          </div>
        </nav>
        <main>
        {{ content | safe }}
        </main>
        <footer class="footer">
          <div class="footer__logo">
            <div class="header__logo--smaller">
              <h1>Salón Pohlazení</h1>
            </div>
          </div>
          <p class="footer__text">© 2021</p>
        </footer>
      </div>
      <script>const hamburger = document.getElementById("hamburger");
const navUL = document.getElementById("nav-ul");

hamburger.addEventListener("click", () => {
  navUL.classList.toggle("show");
});</script>
      <script>const menuHamburger = document.querySelector(".menu__hamburger");
let menuOpen = false;
menuHamburger.addEventListener("click", () => {
  if (!menuOpen) {
    menuHamburger.classList.add("open");
    menuOpen = true;
  } else {
    menuHamburger.classList.remove("open");
    menuOpen = false;
  }
});</script>
      <script>const title = document.getElementById("main__title--1");
const mainText = document.getElementById("main__text--1");

title.addEventListener("click", () => {
  mainText.classList.toggle("show");
});

const title2 = document.getElementById("main__title--2");
const mainText2 = document.getElementById("main__text--2");

title2.addEventListener("click", () => {
  mainText2.classList.toggle("show");
});


const title3 = document.getElementById("main__title--3");
const mainText3 = document.getElementById("main__text--3");

title3.addEventListener("click", () => {
  mainText3.classList.toggle("show");
});

const title4 = document.getElementById("main__title--4");
const mainText4 = document.getElementById("main__text--4");

title4.addEventListener("click", () => {
  mainText4.classList.toggle("show");
});

const title5 = document.getElementById("main__title--5");
const mainText5 = document.getElementById("main__text--5");

title5.addEventListener("click", () => {
  mainText5.classList.toggle("show");
});</script>
    </body>
  </div>
</html>

