<footer class="footer">
<div class="footer__logo">
  <a href="/uvod">
    <div class="header__logo--smaller">
      <h1>Salón Pohlazení</h1>
    </div>
  </a>
</div>
<p class="footer__text">© 2021</p>
<p class="footer__licence"><a href='https://www.freepik.com/photos/background'>Thank you: Photo by Background photo created by lifeforstock - www.freepik.com</a></p>

</footer>