<header class="header">
    <img
    class="header__foto"
    src="/images/woman-relaxing-beauty-salon-midle.png"
    alt="relaxující žena"
    />
    <div class="header__logo">
    <a href="/uvod">
    <div class="header__logo--original">
        <h1>Salón</h1>
        <h1>Pohlazení</h1>
    </div>
    </a>
    </div>
</header>