---
layout: layouts/moje-sablona.njk
title: novinky
---


<article class="article">
<h2 class="article__title">{{ title }}</h2>
<button class="article__button">
<a class="article__button2" href="/novinky">zpět</a>
</button>

<div class="article__content">
    <img class="article__image" src="/images/{{ foto }}" alt="{{ alt }}">
    
    <div class="article__text">
        <p class="article__perex">{{  perex }}</p>
        {{ content | safe }}
    <p class="article__meta">Publikováno {{ page.date.toLocaleString("cs-CZ") }}</p>
    
    </div>
    
</div>
</article>
